@media screen and (max-width:400px)
{

  nav{
    visibility: hidden;
    background:rgba(0,0,0,0.2);
    height: 70px;
    width:100px;
  }
  label.logo{
    visibility: hidden;
    color: white;
    font-size: 30px;
    font-style: italic;

    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
  }

  nav ul{
    visibility: hidden;
    float:right;
    margin-right: 20px;
  }
  nav ul li{
    visibility: hidden;
    list-style: none;
    display:inline-block;
    line-height: 50px;
    margin:1 5px;
    padding: 0px;
  }

  nav ul li a{
    visibility: hidden;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 7px 13px;
  }
}


*{
  box-sizing: border-box;
  list-style: none;
}
nav{
  background:rgba(0,0,0,0.2);
  height: 70px;
  width:100%;
}
label.logo{
  color: white;
  font-size: 30px;
  font-style: italic;

  line-height: 80px;
  padding:0 100px;
  font-weight: bold;
}

nav ul{
  float:right;
  margin-right: 20px;
}
nav ul li{
  list-style: none;
  display:inline-block;
  line-height: 50px;
  margin:1 5px;
  padding: 0px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  text-transform: capitalize;
  padding: 7px 13px;
}

@media screen and (max-width:400px){
  *{
    box-sizing: border-box;
    list-style: none;
  }
  nav{
    background:rgba(0,0,0,0.4);
    height: 80px;
    width:1400px;
  }
  label.logo{
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  nav ul{
    float:right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    font-family: 'Sulphur Point', sans-serif;
    line-height: 80px;
    margin:0 5px;
    list-style: none;
  }

  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 21px;
    text-transform: uppercase;
    padding: 7px 13px;
  }

}
