body{
  margin: 0;
  padding: 0;
}
.completetop{
  height: 100%;
}
  .container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  .item{
    display: flex;
  }
  .item img{
    box-sizing: border-box;
    border-radius: 50%;
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 2%;


  }

  .profsn{

    display: flex;
    justify-content: center;

  }
.profsn h2{
  margin-top: 2%;
 font-size: 1rem;
  color: black;
      font-family: 'Neucha', cursive;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
}
.profsn:hover{
  color:#ff793f;
  cursor: pointer;
}
.podwhole{
  margin-top: 18rem;
  background-color:#1e272e;
}

.aewp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
}
.aewp h3{
  color:#e67e22;
  margin-top: 4%;
}
.aewp h1{
  color:white;
}

.aewpimg{
  display: flex;
  justify-content: center;
}

.aewpimg img{
  box-sizing: border-box;
  width:300px;
  height:300px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.podcontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3%;
  margin-right:3%;
}


.podcontent p{
  color: white;
  font-size: 26px;
  font-style: bold;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.podavail{
  color:white;
  text-align: center;
  margin: 4% 3% 0 3%;
}
.availableon{
  display: flex;
  flex-direction:row;
  margin-top: 4%;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: space-between;
}
.availableon img{
  box-sizing: border-box;
  width: 100px;
  height: 40px;
}

.availableon1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 8%;
}
.availableon1 img{
  box-sizing: border-box;
  width: 50px;
  height: 50px;
 margin-bottom: 8%;
}

.paperweb{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left:3%;
  margin-right: 3%;
}
.paperweb h3{
  padding:4px;
  color:black;
  font-family: 'Muli', sans-serif;
  float:left;
  margin-top: 4%;
}
.pwimg{
  display: flex;
  justify-content: center;
}
.pwimg img{
  box-sizing: border-box;
  width:100%;
  height:300px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.paperweb p{
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.error{
  font-size: 50px;
  text-align: center;
  color:#130f40;
}
.error-p{
  display:flex;
  flex-direction:column;
  font-size: 36px;
  margin-left: 3%;
  margin-right: 3%;
}
#back2Top {
    width: 50px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom:7rem;
    right: 20px;
    color:black;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}
#back2Top:hover {
    background-color:white;
    color: #000;
}

.sitemap{
  font-style:bold;
  margin-top: 2rem;
  background: black;
  height:50rem;
  margin-bottom: 0;
}

.NameP p{
  margin-top: 0;
color:white;
word-spacing: 0;
margin-left:1rem;
font-family: 'Anton', sans-serif;
font-size: 2.5rem;
}
.SitemapContent li a{
  text-decoration: none;
  color:#c8d6e5;
  display: flex;
  flex-direction:column;
  margin-left: 2rem;

}
.Follow{
  color:white;
  margin-bottom: 0;
  margin-top: 2rem;
  align-items: center;
  margin-left: 1rem;
}
.SocialMedia{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;

}
.SocialMedia img{
  margin-top:1rem;
  margin-left: 1rem;
  height:3rem;
  width:3rem;
}

footer{
  background: black;
  margin-bottom: -100%;
  clear:both;
  height:100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
footer p{
  color:#7f8c8d;
}

@media screen and (min-width:900px){
  body{
 margin: 0;
 padding: 0;
 }

.container{
  display: flex;
  justify-content: center;
}

.item{
  display: flex;
}
.item img{
  box-sizing: border-box;
  border-radius: 50%;
  width:200px;
  height:200px;
}
.pwimg img{
  box-sizing: border-box;
  width:400px;
  height:300px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.availableon{
  display: flex;
  flex-direction:row;
  margin-top: 4%;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: space-between;
}
.availableon img{
  box-sizing: border-box;
  width: 300px;
  height: 80px;
}

.availableon1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4%;
}
.availableon1 img{
  box-sizing: border-box;
  width: 150px;
  height: 150px;
}
.sitemap{
  font-style:bold;
  margin-top: 2rem;
  background: black;
  height:50rem;
  margin-bottom: 0;
}
.SocialMedia img{
  margin-top:1rem;
  margin-left: 2rem;
  height:5rem;
  width:5rem;
}


}/*media query ends here*/
