body{
  margin: 0;
  padding: 0;
}
  .container{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  .item{
    display: flex;
  }
  .item img{
    box-sizing: border-box;
    border-radius: 50%;
    width:200px;
    height:200px;
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 2%;


  }

  .profsn{

    display: flex;
    justify-content: center;

  }
.profsn h2{
  margin-top: 2%;
 font-size: 1rem;
  color: black;
      font-family: 'Neucha', cursive;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
}
.profsn:hover{
  color:#ff793f;
  cursor: pointer;
}
footer{
  height: 1.5rem;
  background: #2c2c54;
  margin-top:100%;;
display: flex;
align-items: center;
justify-content: center;
}
footer p{
  color: white;
}

@media screen and (min-width:900px){
  body{
 margin: 0;
 padding: 0;
 }

.container{
  display: flex;
  justify-content: center;
}

.item{
  display: flex;
}
.item img{
  box-sizing: border-box;
  border-radius: 50%;
  width:200px;
  height:200px;
}

}/*media query ends here*/
