body{
  margin: 0;
  padding: 0;
  background-color:#dfe6e9;
}

.articleHeadings{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Art{
  background-color:#d35400;
  color:white;

}

.by{
  margin-left: 1rem;
}

.Date{
  box-sizing: border-box;
  color:Black;
  font-weight: bold;
  letter-spacing: 1px;
  margin:2rem 1rem auto 1rem;
 font-family: 'Patua One', cursive;
  font-size: 20px;
}
.articleNames{
  margin-left: 1rem;
  margin-top: .1rem;
  margin-right: 1rem;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
.articleNames a{
  color:red;
  text-decoration: none;
}

footer{
  background: black;
  margin-top:1rem;
  margin-bottom: -100%;
  clear:both;
  height:100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
footer p{
  color:#7f8c8d;
}

@media screen and (min-width:900px) {

  .articleHeadings{
  display:flex;
  flex-flow:row;

  }

}
